# Dependencies
node_modules
**/node_modules/
**/dist
**/.turbo
config/tsup.config.bundled*
config/tsup.frameworks.config.bundled*
.next
.cursor
.DS_Store
.gcs_entries
.gclient*
.cipd
.idea
publish-summary.json
**/.svelte-kit
**/*/*.tgz
tests/csp/public/demo.pdf
tests/csp/public/*.js
!tests/csp/public/snippet.js
tests/csp/public/pdfium.wasm
tests/csp/test-results/
tests/csp/playwright-report/
